@using BazarMVC.Models
@model BazarMVC.Models.UsuariosViewModels.UsuariosEditViewModel

@{
    ViewBag.Title = "Editar Usuário";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar Usuário - @Model.Nome @Model.Sobrenome</h1>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    @using (Html.BeginForm("Edit", "Usuarios", FormMethod.Post, new { role = "form" }))
                    {
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Nome</label>
                                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", placeholder = "Nome", @value = Model.Nome })
                                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", @value = Model.Email })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Sobrenome</label>
                                        @Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control", placeholder = "Sobrenome", @value = Model.Sobrenome })
                                        @Html.ValidationMessageFor(m => m.Sobrenome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 offset-xl-4 col-sm-6 offset-sm-3">
                                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .margin-auto {
        margin: 0 auto;
    }
</style>
