@{
    ViewBag.Title = "Cadastro de Venda";
}

@model BazarMVC.Models.VendasViewModels.VendasCreateViewModel

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Vendas</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        for (int i = 0; i < Model.ListaProdutos.Count; i++)
                        {
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Id)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Nome)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Preco)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Quantidade)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Vendedor)
                        }

                        for (int i = 0; i < Model.ListaProdutosEscolhidos.Count; i++)
                        {
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Id)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Nome)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Preco)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Quantidade)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Vendedor)
                        }

                        for (int i = 0; i < Model.ListaCompradores.Count; i++)
                        {
                            @Html.HiddenFor(m => Model.ListaCompradores[i].Id)
                            @Html.HiddenFor(m => Model.ListaCompradores[i].Nome)
                        }

                        if (ViewBag.MensagemErro != null)
                        {
                            <p class="text-danger margin-y">@ViewBag.MensagemErro</p>
                        }
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="exampleInputPassword1">Comprador</label>
                                    <input list="compradores" class="form-control" placeholder="Comprador..." value="@Model.Comprador"
                                           oninput="console.log(this.value);">
                                    <datalist id="compradores">
                                        @foreach (var item in Model.ListaCompradores)
                                        {
                                            <option data-value="@item.Id">@item.Nome</option>
                                        }
                                    </datalist>
                                </div>
                                <input type="text" name="Comprador" id="NameComprador" style="display: none;">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Preço Total</label>
                                        <input type="text" class="form-control" id="" name="ValorTotal" value="@Model.ValorTotal.ToString("C2")" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Produto</th>
                                                    <th scope="col">Preço</th>
                                                    <th scope="col">Quantidade</th>
                                                    <th scope="col">Vendedor</th>
                                                    <th scope="col">Ação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ListaProdutos)
                                                {
                                                    <tr>
                                                        <td>@item.Nome</td>
                                                        <td>@item.Preco.ToString("c2")</td>
                                                        <td>@item.Quantidade</td>
                                                        <td>@item.Vendedor</td>
                                                        <td>
                                                            <button type="submit" class="btn btn-info" name="ProdutoSelecionado" value="@item.Id">
                                                                <span class="fa fa-plus"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Produto</th>
                                                    <th scope="col">Preço</th>
                                                    <th scope="col">Quantidade</th>
                                                    <th scope="col">Vendedor</th>
                                                    <th scope="col">Ação</th>
                                                </tr>
                                            </thead>
                                            <tbody id="ProdutosEscolhidos">
                                                @foreach (var item in Model.ListaProdutosEscolhidos)
                                                {
                                                    <tr>
                                                        <td style="display: none;" name="ListaProdutosEscolhidos" value="@item.Id">@item.Id</td>
                                                        <td>@item.Nome</td>
                                                        <td>@item.Preco.ToString("c2")</td>
                                                        <td>@item.Quantidade</td>
                                                        <td>@item.Vendedor</td>
                                                        <td>
                                                            <button type="submit" class="btn btn-info" name="ProdutoSelecionado" value="@item.Id">
                                                                <span class="fa fa-minus"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary" id="Cadastrar">Cadastrar</button>
                        </div>
                    }
                </div>
            </div>
            <!--/.col -->
            <!-- /.row -->
        </div><!-- /.container-fluid -->
</section>

<script>

    //Esconder Value List
    var des = Object.getOwnPropertyDescriptor(HTMLInputElement.prototype, 'value');
    Object.defineProperty(HTMLInputElement.prototype, 'value', {
        get: function () {
            if (this.type === 'text' && this.list) {
                var value = des.get.call(this);
                var opt = [].find.call(this.list.options, function (option) {
                    return option.value === value;
                });
                document.getElementById("NameComprador").value = opt.dataset.value;
                return opt ? opt.dataset.value : value;
            }
        }
    });
</script>