@{
    ViewBag.Title = "Cadastro de Venda";
}

@model BazarMVC.Models.VendasViewModels.VendasCreateViewModel

<style>
    .w-80px{
        width: 80px;
    }

    .w-60px{
        width: 60px;
    }

    .ml-10{
        margin-left: 10px;
    }

    .mt-10{
        margin-top: 10px;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Vendas</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        for (int i = 0; i < Model.ListaProdutos.Count; i++)
                        {
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Id)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Nome)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Preco)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Quantidade)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].Vendedor)
                            @Html.HiddenFor(m => Model.ListaProdutos[i].IdVendedor)
                        }

                        for (int i = 0; i < Model.ListaProdutosEscolhidos.Count; i++)
                        {
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Id)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Nome)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Preco)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Quantidade)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].Vendedor)
                            @Html.HiddenFor(m => Model.ListaProdutosEscolhidos[i].IdVendedor)
                        }

                        @Html.HiddenFor(m => Model.ProdutoEscolhido.Id)
                        @Html.HiddenFor(m => Model.ProdutoEscolhido.IdVendedor)
                        @Html.HiddenFor(m => Model.ProdutoEscolhido.Nome)
                        @Html.HiddenFor(m => Model.ProdutoEscolhido.Preco)
                        @Html.HiddenFor(m => Model.ProdutoEscolhido.Quantidade)
                        @Html.HiddenFor(m => Model.ProdutoEscolhido.Vendedor)

                        for (int i = 0; i < Model.ListaCompradores.Count; i++)
                        {
                            @Html.HiddenFor(m => Model.ListaCompradores[i].Id)
                            @Html.HiddenFor(m => Model.ListaCompradores[i].Nome)
                        }

                        if (!string.IsNullOrEmpty(Model.NomeComprador))
                        {
                            @Html.Hidden(Model.NomeComprador)
                        }

                        if (ViewBag.MensagemErro != null)
                        {
                            <p class="text-danger margin-y">@ViewBag.MensagemErro</p>
                        }
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="exampleInputPassword1">Comprador</label>
                                    <input list="compradores" class="form-control" placeholder="Comprador..." value="@Model.NomeComprador" name="NomeComprador"
                                           oninput="console.log(this.value);">
                                    <datalist id="compradores">
                                        @foreach (var item in Model.ListaCompradores)
                                        {
                                            <option data-value="@item.Id">@item.Nome @item.Sobrenome</option>
                                        }
                                    </datalist>
                                </div>
                                <input type="text" name="Comprador" id="CompradorId" value="@Model.Comprador" style="display: none;" oninput="console.log(this.value);">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Preço Total</label>
                                        <input type="text" class="form-control" name="ValorTotal" value="@Model.ValorTotal" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Produto</th>
                                                    <th scope="col" class="w-80px">Preço</th>
                                                    <th scope="col">Disponível</th>
                                                    <th scope="col">Vendedor</th>
                                                    <th scope="col">Adicionar</th>
                                                    <th scope="col">Qtde</th>
                                                    <th scope="col">Pago</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ListaProdutos)
                                                {
                                                    <tr>
                                                        <td>@item.Nome</td>
                                                        <td>@item.Preco.ToString("c2")</td>
                                                        <td>@item.Quantidade</td>
                                                        <td>@item.Vendedor</td>
                                                        <td>
                                                            <button type="submit" class="btn btn-info" name="ProdutoSelecionado" value="@item.Id">
                                                                <span class="fa fa-plus"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control w-60px" placeholder="Quantidade" min="1" step="any" name="ProdutoQuantidadeAdicionar">
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="ml-10 mt-10" name="ProdutoPago">
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Produto</th>
                                                    <th scope="col">Preço</th>
                                                    <th scope="col">Quantidade</th>
                                                    <th scope="col">Vendedor</th>
                                                    <th scope="col">Remover</th>
                                                    <th scope="col">Pago</th>
                                                </tr>
                                            </thead>
                                            <tbody id="ProdutosEscolhidos">
                                                @foreach (var item in Model.ListaProdutosEscolhidos)
                                                {
                                                    <tr>
                                                        <td style="display: none;" name="ListaProdutosEscolhidos" value="@item.Id">@item.Id</td>
                                                        <td>@item.Nome</td>
                                                        <td>@item.Preco.ToString("c2")</td>
                                                        <td>@item.Quantidade</td>
                                                        <td>@item.Vendedor</td>
                                                        <td>
                                                            <button type="submit" class="btn btn-info" name="ProdutoSelecionado" value="@item.Id">
                                                                <span class="fa fa-minus"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="ml-10 mt-10" onclick="return false;">
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary" id="Cadastrar">Cadastrar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //Esconder Value List
    var des = Object.getOwnPropertyDescriptor(HTMLInputElement.prototype, 'value');
    Object.defineProperty(HTMLInputElement.prototype, 'value', {
        get: function () {
            if (this.type === 'text' && this.list) {
                var value = des.get.call(this);
                var opt = [].find.call(this.list.options, function (option) {
                    return option.value === value;
                });
                document.getElementById("CompradorId").value = opt ? opt.dataset.value : value;
                return opt ? opt.dataset.value : value;
            }
        }
    });
</script>